.button
	font-size 1.125em
	font-weight 500
	letter-spacing 1px
	color #fff
	text-transform uppercase
	display inline-block
	width 208px
	height 44px
	line-height 41px
	border: 2px solid #fff
	border-radius: 30px
	transition all 0.4s
	text-align center
	&:hover
		background-color #95733d
		border-color #95733d
		color #fff
	&--green
		color #000 !important
		border-color #95733d
		font-size 0.875em
		font-weight 700
		background-color transparent
		&:hover
			color #fff !important
			background-color #95733d
	&--big
		font-size 1.125em
	&--apple
		background-image url("../img/sys/apple_icon.svg")
		background-position 15px 40%
		background-repeat no-repeat
		margin-right 20px
		&:hover
			background-image url("../img/sys/apple_icon_w.svg")
	&--play
		background-image url("../img/sys/play_icon.svg")
		background-position 15px 46%
		background-repeat no-repeat
		&:hover
			background-image url("../img/sys/play_icon_w.svg")
	&--right
		float right
		@media screen and (max-width: 991px)
			float none
			margin 10px auto 30px auto
