.services {
  margin: 60px 0;

  ul {
    padding-left: 17px;
    column-count: 2;

    li {
      position: relative;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.67;
      color: #282e33;

      &:before {
        content: '';
        position: absolute;
        left: -17px;
        top: 13px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #1476f2;
      }
    }
  }
}