.main-content {
  padding: 96px 0 84px;
  background: url('../img/bg2.jpg') 50% 50% /cover no-repeat;
  color: white;

  .title {
    margin-bottom: 45px;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.29;
  }

  ul {
    max-width: 93%;
    margin-bottom: 30px;
    margin-left: 20px;

    li {
      position: relative;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.44;

      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: 9px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #12ffff;
      }
    }
  }

  .contact-form {
    margin: 0 auto;
  }
}