.clients
	padding-top: 90px
	&__wrap
		margin-bottom pad
		@media screen and (max-width: 991px)
			margin-bottom 40px
	&__brand
		height 120px
		width 100%
		background-position 50% 50%
		background-repeat no-repeat
		@media screen and (max-width: 991px)
			height 60px
			background-size contain
		&-big
			@media screen and (max-width: 765px)
				height 30px
	.desc
		font-size 1em
		color #8e9498
		text-align center
		width 90%
		margin-left 5%
		@media screen and (max-width: 991px)
			display none