.service
	background-color #299ffe
	color: #ffffff
	padding-top: 90px

	h3
		color: #ffffff
		margin-bottom: 20px
	h2
		color: #ffffff
		font-size 1.500em
		font-weight 300
		letter-spacing 0.2px
		line-height 36px
		width: 70%
		text-align: center
		margin: 0 auto
		text-transform none
		margin-bottom: 55px

	&__wrap
		background-color: #ffffff
		border 10px solid #fafafa
		border-radius 43px
		box-shadow 0 53px 114px rgba(0, 0, 0, 0.1)
		margin-bottom: 40px

	&__case
		padding 25px 0
		text-align left
		color #212121
		font-size 0.938em
		font-weight 400
		letter-spacing 0.3px
		line-height 24px
		padding-left: 100px
		@media screen and (max-width: 991px)
			margin-left 20%
			padding 10px 0
		&:before
			content ""
			display inline-block
			position absolute
			left: 0
			top: 30px
			width 42px
			height 29px
			background-image url("../img/service.svg")
			background-position 50% 50%
			background-size contain
			background-repeat no-repeat
			margin-right 20px
			margin-left 20px
			margin-bottom -10px
			padding-bottom: 20px
			@media screen and (max-width: 991px)
				margin 0 10px
				height 16px
				width 16px
				position absolute
				left 5%

	&__ticket
		text-align: center
		font-size 2.125em
		font-weight 300
		letter-spacing 0.1px
		line-height 48px

	&__button
		margin-left: 40px
		color: #ffffff
		font-size 15px
		font-weight 400
		vertical-align: middle
		line-height 48px
		letter-spacing 2px
		padding: 10px 20px
		border 2px solid white
		border-radius 7px

	&_call
		background-color #323337
		padding 60px 0
		margin-top 150px
		.title
			font-size 1.750em
			color main
		.desc
			font-size 1.125em
			color white
			font-weight 500
		@media screen and (max-width: 991px)
			margin-top pad