.app
	&__tabs
		width 100%
		position relative
		z-index 300
	&__tab
		width 20%
		float left
		text-align center
		.image
			width 100%
			height 80px
			background-position 50% 50%
			background-repeat no-repeat
			border-bottom 2px solid #eadfc7
			transition all 0.4s
		.platform
			padding-top 26px
			color main
			transition all 0.4s
			text-transform uppercase
			@media screen and (max-width: 991px)
				display none
		&:hover
			.image
				border-bottom 2px solid main
		&--active
			.image
				border-bottom 2px solid main
	&__carousel
		padding 60px 0 0 0
		overflow hidden
		@media screen and (max-width: 991px)
				padding 20px 0 0 0
		.device
			height 420px
			background-position 50% 25%
			background-repeat no-repeat
			@media screen and (max-width: 991px)
				height 220px
				background-size contain
		.light
			padding 40px 0
			font-size 1.3em
			font-weight 700
			@media screen and (max-width: 991px)
				padding 20px 0
	&__content
		font-weight 500
		&--text
			padding-top 40px
		.js--hide
			@media screen and (max-width: 991px)
				display none 
		.js--open
			display none
			padding 20px 0
			&:after
				content ""
				display block
				position relative
				background-image url("../img/sys/more.svg")
				background-repeat no-repeat
				width 7px
				height 8px
				margin 8px 0 0 10px
				float right
				transition all 0.4s
			@media screen and (max-width: 991px)
				display inline-block
				color main
				font-size 16px
				text-decoration underline
		.opened
			&:after
				transform rotate(90deg)