.main-header {
  position: relative;
  padding: 30px 0 100px;
  background: url('../img/main-gradient.jpg') 50% 10% /cover no-repeat;
  color: white;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    height: 150px;
    width: 100%;
    background: white;
    clip-path: polygon(100% 100%,0% 100%,100% 0,100% 0);
    z-index: -1;
  }

  .logo {
    width: 172px;
    height: 48px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .hero {
    margin-top: 23px;

    .title {
      margin-top: 44px;
      margin-bottom: 38px;
      font-size: 50px;
      font-weight: 600;
      line-height: 1.3;
      color: white;
    }

    .hero-list {
      margin-bottom: 35px;
      padding-left: 40px;

      li {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 2;

        &:before {
          content: '';
          position: absolute;
          left: -40px;
          top: 10px;
          display: block;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background: url('../img/check-mark.svg') 50% 50% /12px no-repeat rgba(255, 255, 255, 0.2);
        }
      }
    }

    .partners {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      li {
        margin-bottom: 20px;

        img {
          width: 50%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .hero {
      .partners {
        flex-wrap: nowrap;
      }
    }
  }
}