.main-content {
  .workshop {
    position: relative;
    padding: 100px 0 20px;

    .title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -1.4px;
      color: #26282c;
    }

    p {
      margin-bottom: 55px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.7;
      color: #26282c;
      opacity: 0.5;
    }

    .about-icon {
      margin: 0 auto;
      width: 320px;
      height: 320px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .main-btn {
      margin-bottom: 30px;
    }
  }

  .innovating {
    position: relative;
    padding: 180px 0;
    background: linear-gradient(135deg, rgba(228,236,242,.15), rgba(187,210,231,.15));
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      display: block;
      height: 150px;
      background: white;
      clip-path: polygon(0% 100%,0% 100%,100% 0%,0 0);
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      display: block;
      height: 150px;
      background: white;
      clip-path: polygon(100% 100%,0% 100%,100% 0,100% 0);
      z-index: -1;
    }

    .title {
      margin: 40px 0;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.5;
      color: #26282c;
    }

    ul {
      max-width: 90%;
      padding-left: 30px;

      li {
        position: relative;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 1.44;
        color: #26282c;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -28px;
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #4c8eee;
        }
      }
    }
  }

  .can-help {
    background-color: white;
    padding: 80px 0;

    .title {
      margin: 40px 0;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.5;
      color: #26282c;
    }

    ul {
      max-width: 90%;
      padding-left: 30px;

      li {
        position: relative;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 1.44;
        color: #26282c;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -28px;
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #4c8eee;
        }
      }
    }

    .icons {
      margin-top: 120px;
      padding: 0;
      max-width: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        margin-bottom: 40px;
        width: calc(100% / 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:before {
          content: none;
        }

        h4 {
          margin-top: 9px;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 1.65;
          text-align: center;
          color: #3681ee;
        }
      }
    }

    @media (min-width: 480px) {
      .icons {
        li {
          width: calc(100% / 3);
        }
      }
    }

    @media (min-width: 992px) {
      .icons {
        li {
          width: calc(100% / 6);
        }
      }
    }
  }

  .cta {
    padding: 65px 0 35px;
    background: url('../img/cta-gradient.jpg') 50% 50% /cover no-repeat;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h3 {
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.46;
        color: white;
      }
    }
  }

  .how-it-works {
    margin: 150px 0;

    .title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -1.4px;
      color: #26282c;
    }

    .header-list {
      margin-bottom: 20px;

      & > li {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        h4 {
          margin-bottom: 20px;
          margin-right: 20px;
          min-width: 100px;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.63;
          text-transform: uppercase;
          color: #009688;
          opacity: 0.6;
        }

        ul {
          margin-bottom: 30px;
          width: 100%;
          padding: 15px 20px;
          border-radius: 5px;
          box-shadow: 0 14px 26px 0 rgba(35, 135, 253, 0.1);
          display: flex;
          flex-direction: column;

          li {
            margin-right: 27px;
            display: flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 1.72;
            color: #26282c;

            svg {
              margin-right: 8px;
            }
          }
        }

        p {
          margin-bottom: 30px;
          padding: 15px 20px;
          border-radius: 5px;
          box-shadow: 0 14px 26px 0 rgba(35, 135, 253, 0.1);
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          color: #26282c;
        }
      }
    }

    .footer-list {
      position: relative;
      padding-left: 30px;
      display: flex;
      flex-direction: column;

      &:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 10px;
        width: 4px;
        background-color: #d7eeed;
      }

      li {
        position: relative;
        margin-bottom: 10px;
        background: linear-gradient(153deg, rgba(228,236,242,.15), rgba(187,210,231,.15));
        border-radius: 5px;
        padding: 30px 20px;

        &:before {
          content: '';
          position: absolute;
          left: -23px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: white;
          box-shadow: 0 8px 14px 0 rgba(35, 135, 253, 0.17);
        }

        &:after {
          content: '';
          position: absolute;
          left: -18px;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: linear-gradient(to left, #36c1ee, #7794ff);;
          box-shadow: 0 8px 14px 0 rgba(35, 135, 253, 0.17);
        }

        &:first-child {
          &:before {
            transform: none;
            top: 0;
          }

          &:after {
            transform: none;
            top: 5px;
          }
        }

        &:last-child {
          &:before {
            transform: none;
            top: auto;
            bottom: 0;
          }

          &:after {
            transform: none;
            top: auto;
            bottom: 5px;
          }
        }

        h4 {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 600;
          color: #26282c;
          opacity: 0.8;
        }

        p {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 1.71;
          color: #26282c;
          opacity: 0.6;
        }
      }
    }

    @media (min-width: 768px) {
      .title {
        margin-bottom: 50px;
      }

      .header-list {
        & > li {
          flex-direction: row;
          align-items: center;

          &:first-child {
            align-items: flex-start;

            h4 {
              margin-top: 15px;
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      .footer-list {
        padding-left: 0;
        flex-direction: row;
        justify-content: space-between;
        background: url('../img/group-9@3x.png') 50% 50% /100% no-repeat;

        &:before {
          content: none;
        }

        li {
          margin-top: 150px;
          width: calc(20% - 15px);
          margin-bottom: 0;
          background: transparent;
          padding: 30px 30px 50px;

          &:before, &:after {
            content: none;
          }

          &:nth-child(2) {
            margin-top: 130px;
          }

          &:nth-child(3) {
            margin-top: 110px;
          }

          &:nth-child(4) {
            margin-top: 90px;
          }

          &:nth-child(5) {
            margin-top: 70px;
          }

          h4 {
            margin-bottom: 20px;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      .header-list {
        & > li {
          &:first-child {
            align-items: center;
          }

          h4 {
            margin-top: 0;
            margin-bottom: 0;
          }

          ul {
            margin-bottom: 0;
            flex-direction: row;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      .footer-list {
        li {
          padding: 30px;
        }
      }
    }
  }

  .what-you-get {
    margin: 160px 0;

    .title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -1.4px;
      color: #26282c;
    }

    p {
      max-width: 80%;
      margin-bottom: 50px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.7;
      color: #26282c;
      opacity: 0.5;
    }

    .main-btn {
      margin-bottom: 40px;
    }

    ul {
      counter-reset: section;

      li {
        position: relative;
        padding-left: 50px;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 1.44;
        color: #26282c;

        &:before {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          left: 0;
          top: -3px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 30px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: linear-gradient(153deg, rgba(228,236,242,.25), rgba(187,210,231,.25));
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.7px;
          color: #3f86ee;
        }
      }
    }
  }

  .who-works {
    margin: 160px 0;

    .title {
      margin-bottom: 60px;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -1.4px;
      color: #26282c;
    }

    p {
      margin-bottom: 60px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.7;
      color: #26282c;
      opacity: 0.5;
    }

    .owl-carousel {
      margin-bottom: 60px;
      position: relative;
      width: calc(100% + 30px);
      margin-left: -15px;

      .owl-item {
        opacity: 0.25;

        &.active {
          opacity: 1;
        }
      }

      .item {
        padding: 40px 25px;
        position: relative;
        height: 420px;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(72, 94, 113, 0), rgba(0, 0, 0, 0.75));
        overflow: hidden;
        color: white;

        .bg-img {
          position: absolute;
          width: auto;
          height: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }

        h3 {
          margin-bottom: 4px;
          margin-top: 200px;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.5;
        }

        .description {
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 1.57;
          color: white;
          opacity: 0.8;
        }
      }

      .owl-nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;

        button {
          position: absolute;
          top: 50%;
          border: solid #dbdfe2;
          border-width: 0 2px 2px 0;
          border-radius: 0;
          display: inline-block;
          padding: 0;
          width: 24px;
          height: 24px;

          &:hover {
            background: transparent;
          }

          &:focus {
            outline: none;
          }

          span {
            display: none;
          }
        }

        .owl-prev {
          left: -40px;
          transform: translateY(-50%) rotate(135deg);
        }

        .owl-next {
          right: -40px;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    span {
      margin-bottom: 35px;
      display: block;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.32;
      color: #009688;
    }

    .main-btn {
      display: flex;
      margin: 0 auto;
      max-width: 270px;
    }

    @media (min-width: 576px) {
      .owl-carousel {
        .owl-item {
          opacity: 1;
        }
      }
    }
  }

  .why {
    margin: 160px 0;

    .title {
      margin-bottom: 60px;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -1.4px;
      color: #26282c;
    }

    p {
      margin-bottom: 60px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.7;
      color: #26282c;
      opacity: 0.5;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;

      li {
        width: 100%;
        padding: 15px 20px 15px 40px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        background: linear-gradient(153deg, rgba(228,236,242,.15), rgba(187,210,231,.15));

        figure {
          margin-right: 30px;
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            margin-bottom: 7px;
            font-size: 18px;
            font-weight: 600;
            color: #3f86ee;
          }

          p {
            margin: 0;
            font-size: 16px;
            line-height: 1.63;
            opacity: 0.6;
          }
        }
      }
    }

    span {
      margin-bottom: 35px;
      display: block;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 1.32;
      color: #009688;
    }

    .main-btn {
      display: flex;
      margin: 0 auto;
      max-width: 270px;
    }

    @media (min-width: 576px) {
      ul {
        li {
          padding: 15px 20px 15px 60px;

          figure {
            margin-right: 40px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      ul {
        li {
          padding: 15px 20px 15px 40px;
          width: calc(50% - 10px);

          figure {
            margin-right: 30px;
          }
        }
      }
    }

    @media (min-width: 992px) {
      ul {
        li {
          padding: 15px 20px 15px 60px;

          figure {
            margin-right: 40px;
          }
        }
      }
    }
  }
}