.contact
	position relative
	p.title
		text-align center
		font-size 1.625em
		padding-top 65px
		padding-bottom 85px
		@media screen and (max-width: 767px)
			padding-bottom 20px
	&__wrap
		min-height 60px
		margin-bottom 45px
		@media screen and (max-width: 991px)
			margin-bottom 10px
		label
			position absolute
			top 8px
			transition all 0.2s
			font-weight 400
			color #000
			letter-spacing 0px
			z-index -5
			&.error
				left 14px !important
				top 40px !important
				color red !important
				font-size 12px !important
		input
			width 100%
			border none
			border-bottom 3px solid #97743a
			background-color transparent
			padding 0
			font-weight 400
			color #000
			line-height 1
			height 38px
			-webkit-appearance none
			&:focus
				outline none
		textarea
			width 100% !important
			border none
			border-bottom 3px solid #97743a
			background-color transparent
			padding 0
			font-weight 400
			color #000
			line-height 1
			min-height 68px
			-webkit-appearance none
			&:focus
				outline none
		select
			width 100%
			border none
			border-bottom 3px solid #97743a
			background-color transparent
			padding 0
			font-weight 400
			color #000
			line-height 1
			height 38px
			border-radius 0
			// -webkit-appearance none
			&:focus
				outline none
	&__agreement
		line-height 44px
		text-align left
		@media screen and (max-width: 991px)
			font-size 11px
		.checkbox
			width 14px
			height 14px
			margin 0
			padding 0
			position absolute
			left 0
			top 50%
			margin-top -7px
			cursor pointer
			z-index 10
			opacity 0
			&:checked + label:before
				background rgba(0, 0, 0, 0) url("../img/sys/check_a.svg") no-repeat
		label
			padding-left 30px
			cursor pointer
			&:before
				display block
				position absolute
				left 15px
				top 50%
				width 22px
				height 22px
				margin-top -11px
				background rgba(0, 0, 0, 0) url("../img/sys/check.svg") no-repeat
				z-index 5
				content ''
		
	&__footer
		background-color #000
		height 200px
		width 100%
		position absolute
		bottom 0
		text-align center
		@media screen and (max-width: 991px)
			position relative
			height auto
		@media screen and (max-height 750px)
			position relative
			height auto
			margin-top 30px
			padding 20px 0
		p
			font-size 1.250em
			color #fff
			font-weight 500
			text-align center
			padding-top 60px
			padding-bottom 20px
	&__links
		@media screen and (max-width: 991px)
			display none
		ul
			padding-top 50px
			@media screen and (max-width: 991px)
				padding-top 30px
				padding-bottom 30px
				font-size 16px
				line-height 1.8
			li
				text-align left
				@media screen and (max-width: 768px)
					text-align center
				a
					color #595959
					text-transform uppercase
					transition all 0.4s
					&:hover
						color #fff
	&__devices
		padding-top 50px
		@media screen and (max-width: 991px)
			display none
		.device
			display inline-block
			width 19%
			text-align center
			text-transform uppercase
			color #97743a
			img
				display block
				margin 20px auto 0 auto
	&__social
		padding-top 50px
		text-align left
		@media screen and (max-width: 991px)
			padding-top 10px
			text-align center
		a
			padding 15px
	&__privacy
		padding-top 24px
		text-align left
		color #595959
		@media screen and (max-width: 991px)
			padding-top 20px
			padding-bottom 20px
			text-align center
		a
			color #595959
			transition all 0.4s
			&:hover
				color #fff
	&__complete
		display none
		font-size 1.625em
		padding-top 15vh
		padding-bottom calc(15vh + 85px)
		text-align center
		width 70%
		margin 0 auto
		font-weight 400