.button
	font-size 1.125em
	font-weight 500
	letter-spacing 1px
	color white
	text-transform uppercase
	display inline-block
	width 255px
	height 59px
	text-align: center
	//padding-left 44px
	line-height 59px
	transition all 0.4s
	border-radius 5px
	background-color #f57f17
	font-weight: 700
	@media screen and (max-width: 767px)
		width: 202px
		height: 46px
		line-height: 46px
	&:hover
		background-color white
		border-color white
		color main
	&--big
		margin-top 30px
		&:after
			margin-left 30px
	&--submit
		font-size 1.125em
		font-weight 500
		letter-spacing 1px
		color white
		text-transform uppercase
		display inline-block
		width 255px
		height 59px
		text-align: center
		line-height 55px
		transition all 0.4s
		border-radius 5px
		background-color #f57f17
		font-weight: 700
		border: 2px solid main
		float: right
		&:hover
			background-color white
			color main
			border-color main
		@media screen and (max-width: 767px)
			float none
			margin-top 20px
			width: 202px
			height: 46px
			line-height: 46px
