.process
	@media screen and (max-width: 991px)
		display none
	&__tab
		margin-bottom 120px
		.title
			font-size 1.125em
			font-weight 700
			padding-bottom 30px
		.desc
			font-size 0.875em
			color gray
	&__action
		height 100%
		text-align center
	.button
		display block
		margin 0 auto