.promo
	background-image url('../img/sys/promo_bg.jpg')
	background-size cover
	background-position 50% 50%
	position relative
	margin-bottom pad
	color #fff
	padding-top 20px
	&__menu
		float right
		width 45px
		height 45px
		background-image url('../img/sys/menu.svg')
		a
			display block
			height 100%
			width 100%
			z-index 10
			cursor pointer
		&.active
			z-index 205
			background-image url('../img/sys/menu_c.svg')
	.fixed
		display none
		position fixed
		margin 0 auto
		left 0
		right 0
		z-index 205
		@media screen and (max-width: 1260px)
			display block
	&__logo
		text-align left
		&.active
			z-index 200
	&__navigation
		height 44px
		text-transform uppercase
		vertical-align middle
		text-align right
		font-size 0.750em
		@media screen and (max-width: 1260px)
			display none
		li
			display inline-block
			padding-left 42px
			letter-spacing 2px
			line-height 50px
		a
			color white
			font-weight 400
			display block
			&:after
				content ""
				margin-top -10px
				display block
				position relative
				width 0px
				height 3px
				background-color white
				transition all 0.4s
			&:hover
				&:after
					width 40px
			&.email
				padding-left 46px
				&:before
					content:""
					display inline-block
					position relative
					margin-right 10px
					margin-bottom -1px
					width 16px
					height 11px
					background-image url("../img/sys/email_icon.svg")
	&__center
		@media screen and (max-width: 991px)
			position relative
			left auto
			right auto
			transform none
	&__title
		padding-top 130px
		text-transform uppercase
		font-size 2.750em
		line-height 1.1
		font-weight 800
		letter-spacing 1px
		@media screen and (max-width: 991px)
			padding-top 80px
			line-height 30px
			font-size 20px
			letter-spacing 0
	&__text
		padding-top 34px
		font-size 1.375em
		font-weight 500
		@media screen and (max-width: 991px)
			line-height 30px
	&__call
		padding-top 55px
		margin-bottom 55px
	&__tags
		padding 35px 0
		border-top 1px solid #598dcc
		border-bottom 1px solid #598dcc
		&:before
			content "We are"
			position absolute
			left -110px
			top 60px
			text-transform uppercase
			transform rotate(-90deg)
			font-size 0.750em
			letter-spacing 5px
	&__tag
		width 32%
		display inline-block
		padding-left 8.6%
		font-weight 500
		font-size 1.1em
		line-height 1.5
		&:after
			content ""
			width 40px
			height 3px
			background-color white
			display block
			margin-top 20px
			position relative
		@media screen and (max-width: 991px)
			width 90%
			padding-left 0
			&:after
				margin 10px auto 20px auto
	&__stick
		position absolute
		margin 0 auto
		left 0
		right 0
		z-index 200
		&--js
			top -130px
			position fixed
			z-index 100
			transition all 0.6s
			margin-top 130px
			padding 20px 0
			background-color white
			border-bottom 1px solid #aeaeae
			a
				color black
				&:after
					background-color black
				&.email
					&:before
						background-image url("../img/sys/email_icon_a.svg")
			.cls-2
				fill black
			