.footer {
  position: relative;
  padding: 60px 110px 40px;
  background-color: rgba(237, 243, 248, .5);

  @include mobile {
    padding: 65px 30px 25px;
  }

  &__places {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      padding-bottom: 50px;

      @include mobile {
        grid-template-columns: 1fr;
        padding-bottom: 30px;

        &:first-child {
          padding-top: 80px;
        }
      }

      .place {
          @include mobile {
          min-width: 240px;
          justify-self: center;
          padding-bottom: 25px;

          @include mobile {
            justify-self: initial;
          }
        }

        &__name {
          font-size: 18px;
          font-weight: 600;
          font-family: Montserrat, Arial, Helvetica, sans-serif;
          color: #282e33;
          padding-bottom: 10px;

          @include mobile {
          }
        }

        &__details {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.56;
          color: #5e7283;
        }
      }
    }

    &__contacts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      position: relative;

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &__logo {
      @include mobile {
        position: absolute;
        bottom: 450px;
        left: 0;
      }

      @media (min-width: 320px) and (max-width: 399px) {
        bottom: 500px;
      }
    }

    &__logo-link {
      display: inline-block;
      width: 168px;
      height: 47px;
    }

    &__logo-img {
        max-width: 100%;
        max-height: 100%;
    }

    &__copyright {
      font-size: 16px;
      font-weight: 300;
      color:rgba(94, 114, 131, 0.5);
      justify-self: center;

      @include mobile {
        text-align: center;
        padding-top: 20px;
      }
    }
    
    &__privacy {
      color:rgba(94, 114, 131, 0.5);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: rgba(94, 114, 131, 0.9);
      }
    }

    &__social {
      text-align: left;
      justify-self: center;

      @include mobile {
        text-align: center;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%);
        min-width: 185px;
      }

      a {
        display: inline-block;
        margin: 4px 24px 4px 0;
        opacity: .5;
        transition: opacity 0.3s ease-in-out;
        text-decoration: none;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
}