.button
	font-size 0.850em
	font-weight 500
	letter-spacing 1px
	color white
	text-transform uppercase
	display inline-block
	width 222px
	height 44px
	padding-left 44px
	line-height 39px
	border: 3px solid white
	transition all 0.4s
	text-align left
	background-color transparent
	&:hover
		background-color white
		border-color white
		color main
		&:after
			background-image url("../img/sys/arrow_c.png")
	&:after
		content ""
		position relative
		margin-left 50px
		margin-bottom -2px
		width 39px
		height 13px
		background-image url("../img/sys/arrow.png")
		display inline-block
		background-size contain
		background-position 50% 50%
		background-repeat no-repeat
	&--big
		margin-top 30px
		&:after
			margin-left 30px
	&--submit
		background-color transparent
		color main
		border-color main
		float right
		line-height 36px
		padding-left 20px
		&:after
			background-image url("../img/sys/arrow_c.png")
			margin-left 20px
		&:hover
			background-color main
			color white
			border-color main
			&:after
				background-image url("../img/sys/arrow.png")
		@media screen and (max-width: 991px)
			float none
			margin-top 20px
			margin-bottom pad
