.people
	background-color whitesmoke
	border 1px solid #e0e0e0
	padding-bottom: 110px

	h3
		padding-top: 45px
		text-align: center
		margin-bottom: 60px

	&__image
		width: 230px
		height: 230px
		border 10px solid #fafafa
		border-radius 50%
		margin: 0 auto
		box-shadow 0 32px 24px rgba(0, 0, 0, 0.1)
		background-size contain
		background-repeat: no-repeat
		margin-bottom: 40px

	a
		&:nth-child(2)
			.people__image
				background-image: url('../img/people_1.png')
		&:nth-child(3)
			.people__image
				background-image: url('../img/people_2.png')
		&:nth-child(4)
			.people__image
				background-image: url('../img/people_3.png')

	&__title
		text-align: center
		font-size 1.500em
		font-weight 300
		letter-spacing 0.2px
		line-height 36px
		margin-bottom: 14px
		color: #333333

	&__desc
		font-size 0.938em
		text-align: center
		font-weight 400
		letter-spacing 0.3px
		line-height 24px
		color: #333333